@model IEnumerable<EventManagement.Models.Venue>

@{
    ViewData["Title"] = "Index";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("Delete", "Venue", new { venueid = item.VenueID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VenueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VenueCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VenueID">Edit</a> |
                        <button type="submit" value="Delete" onclick="return confirm('Are you sure to delete the venue?')">Delete</button>
                    </td>
                </tr>
                }
            }
    </tbody>
</table>
